#scrubber {
    stroke: black;
}

#indicator {
    stroke-dasharray: 2,2;
    stroke: gray;
}

#image-area {
    height: 500;
}

.fight_area {
    fill: lightyellow;
    stroke: gold;
    stroke-width: 1
}

.graph_border {
    fill: none;
    stroke: black;
}

.progress {
    fill:none;
    stroke: blue;
    stroke-width: 2
}

.player_lifelines {
  display: none
}

.player_lifeline {
  fill:none;
  stroke: green;
  stroke-width: 1;
}

.minute_ref_line {
  stroke: gray;
  stroke-width: 1;
  stroke-dasharray: 1,4
}

.player_advantage {
    fill:none;
    stroke: red;
    stroke-width: 1
}

.progress_target_line {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 3,1
}

.progress_completion_line {
    stroke: gray;
    stroke-width: 1
}
