#scrubber {
    display: inline;
    position: absolute;
}
#image-area {
    height: 500;
}

.fight_area {
    fill: lightyellow;
    stroke: gold;
    stroke-width: 1
}

.graph_border {
    fill: none;
    stroke: black;
}

.progress {
    fill:none;
    stroke: blue;
    stroke-width: 2
}
